---
layout: default
---
<h2 class="post_title">{{page.title}}</h2>
<ul>
        {% for post in site.posts %}
        {% for category in post.category %}
        {% if category == page.category %}
        <li class="archive_list">
                <h3 class="archive_list_header"><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
                <time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m-%e-%Y"}}</time>
                <p class="summary">Summary: {{post.summary}}
                <ul class="category_list">
                        {% for category in post.category %}
                        <li class="inline archive_list"><a class="category_list_link" href="/category/{{ category }}">{{ category }}</a></li>
                        {% endfor %}
                </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
</ul>
